@using Capstone.Web.Models
@model NationalPark

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <img src="~/Content/@(Model.ParkCode).jpg"/>
    <p>@Model.ParkDescription</p>
    </div>
</body>
</html>
