@using Capstone.Web.Models
@model List<SurveyPark>

@for (int i = 1; i < Model.Count; i++)
{
    if (i % 2 != 0)
    {
        <div class="oddSurveyDiv">
                <img style="border-radius: 10px; width: 20%;" src="~/Content/@(Model[i].ParkCode).jpg" />
                <table style="float:right; padding-right: 50%">
                    <tr>
                        <td>@Model[i].ParkName</td>
                    </tr>
                    <tr>
                        <td>Total Surveys: @Model[i].TotalSurveys</td>
                    </tr>
                </table>
        </div><br />
    }
    
    else
    {
        <div class="evenSurveyDiv">
                <img style="border-radius: 10px; width: 20%" src="~/Content/@(Model[i].ParkCode).jpg" />
                <table style="float:right; padding-right: 50%">
                    <tr>
                        <td>@Model[i].ParkName</td>
                    </tr>
                    <tr>
                        <td>Total Surveys: @Model[i].TotalSurveys</td>
                    </tr>
                </table>
        </div> <br />
    }
}
